{% extends 'layout/base_user.html' %}
{% block content %}
<div class="add-vehicle-form">
  <h2 class="form-title">Add New Vehicle</h2>
  <form method="POST">
      <div class="form-field">
          <label>Brand:</label>
          <input name="brand" type="text" required>
      </div>
      <div class="form-field">
          <label>Model:</label>
          <input name="model" type="text" required>
      </div>
      <div class="form-field">
          <label>Plate Number:</label>
          <input name="plate_number" type="text" required>
      </div>
      <div class="form-field">
          <label>Model Year:</label>
          <input name="year" type="number" required>
      </div>
      <div class="form-field">
          <label>Fuel Type:</label>
          <select name="fuel_type" required>
              <option value="Gas">Gas</option>
              <option value="Diesel">Diesel</option>
              <option value="Electricity">Electricity</option>
              <option value="LPG">LPG</option>
          </select>
      </div>
      <div class="form-field">
          <label>Kilometer:</label>
          <input name="mileage" type="number" required>
      </div>
      <div class="form-field">
          <label>Ownership Count:</label>
          <select name="ownership_count" required>
              <option value="1">1. Hand</option>
              <option value="2">2. Hand</option>
              <option value="3">3. Hand</option>
              <option value="4">4. Hand</option>
              <option value="5">5. Hand</option>
          </select>
      </div>
      <button type="submit" class="submit-button">Save</button>
  </form>
</div>
{% endblock %}
