{% extends 'layout/base_user.html' %}
{% block content %}
<div class="add-vehicle-form">
  <h2 class="form-title">Yeni Araç Ekle</h2>
  <form method="POST">
      <div class="form-field">
          <label>Marka:</label>
          <input name="brand" type="text" required>
      </div>
      <div class="form-field">
          <label>Model:</label>
          <input name="model" type="text" required>
      </div>
      <div class="form-field">
          <label>Plaka:</label>
          <input name="plate_number" type="text" required>
      </div>
      <div class="form-field">
          <label>Model Yılı:</label>
          <input name="year" type="number" required>
      </div>
      <div class="form-field">
          <label>Yakıt Türü:</label>
          <select name="fuel_type" required>
              <option value="Gas">Gas</option>
              <option value="Diesel">Diesel</option>
              <option value="Electricity">Electricity</option>
              <option value="LPG">LPG</option>
          </select>
      </div>
      <div class="form-field">
          <label>Kilometre:</label>
          <input name="mileage" type="number" required>
      </div>
      <div class="form-field">
          <label>Kaçıncı El:</label>
          <select name="ownership_count" required>
              <option value="1">1. El</option>
              <option value="2">2. El</option>
              <option value="3">3. El</option>
              <option value="4">4. El</option>
              <option value="5">5. El</option>
          </select>
      </div>
      <button type="submit" class="submit-button">Kaydet</button>
  </form>
</div>
{% endblock %}
