{% extends 'layout/base_user.html' %}
{% block content %}
<div class="appointments-page">
  <h2 class="appointments-title">My Appointments</h2>
  <div class="appointments-list">
    {% for a in appointments %}
      <div class="appointment-item">
        <p><strong>Vehicle:</strong> {{ a.vehicle.plate_number }}</p>
        <p><strong>Date:</strong> {{ a.a_date }} - {{ a.a_time.strftime('%H:%M') }}</p>
        <p><strong>Maintenance Type:</strong> {{ a.maintenance_type.type_name }}</p>
        <p><strong>Price:</strong> ₺{{ a.price }}</p>

        <div class="status-section">
          <span class="status-label"><strong>Status:</strong> {{ a.status }}</span>

          {% set current_time = (now().strftime('%Y-%m-%d %H:%M')) %}
          {% set appointment_time = (a.a_date|string + ' ' + a.a_time.strftime('%H:%M')) %}

          {% if a.status == 'Scheduled' and appointment_time > current_time %}
            <form method="POST" action="{{ url_for('user.cancel_appointment', appointment_id=a.appointment_id) }}" onsubmit="return confirm('Are you sure you want to cancel the appointment?');">
              <button type="submit" class="cancel-button">Cancel</button>
            </form>
          {% elif appointment_time < current_time and a.status == 'Scheduled' %}
            <span class="status-auto">Automatically Completed</span>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <a href="{{ url_for('user.book_appointment') }}" class="add-appointment-button">Book New Appointment</a>
</div>
{% endblock %}
