<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>MecHero Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="dashboard-header">
        <img src="{{ url_for('static', filename='images/Dashboard.jpg') }}" alt="Dashboard Banner" class="dashboard-image" >
        <h2 class="dashboard-message">Welcome, {{ user.u_fname }}!</h2>
    </div>

    <div class="dashboard-nav">
        <a href="{{ url_for('user.vehicles') }}">My Vehicle</a>
        <a href="{{ url_for('user.appointments') }}">My Appointments</a>
        <a href="{{ url_for('user.profile') }}">My Profile</a>
        <form action="{{ url_for('guest.logout_page') }}" method="POST" style="display:inline;">
            <button type="submit" class="dashboard-logout-button">Log Out</button>
        </form>
    </div>

    <script>
        window.addEventListener("load", function () {
            document.body.classList.add("loaded");
        });    
    </script>

</body>
</html>

{#
    {% extends 'layout/base_user.html' %}
    {% block content %}
    <div class="dashboard-header">
        <div class="overlay-text">
            <img src="{{ url_for('static', filename='images/Dashboard.jpg') }}" alt="Dashboard Banner">
            <h2 class="dashboard-message">Welcome, {{ user.u_fname }}</h2>
        </div>
    </div>

    <div class="dashboard-nav">
        <a href="{{ url_for('user.vehicles') }}">My Vehicle</a>
        <a href="{{ url_for('user.appointments') }}">My Appointments</a>
        <a href="{{ url_for('user.profile') }}">My Profile</a>
        <a href="{{ url_for('guest.logout_page') }}" class="logout-button">Log Out</a>
    </div>
    
        <div class="dashboard-container">
        <h2 class="dashboard-message">Welcome, {{ user.u_fname }}!</h2>
    </div>
    {% endblock %}
#}

    

