{% extends 'layout/base_user.html' %}
{% block content %}
<div class="vehicles-banner-wrapper">
    <img src="{{ url_for('static', filename='images/vehicles.jpg') }}" alt="Araçlar" class="banner-cropped-img">
  </div>
<div class="vehicles-page">
  <h2 class="vehicles-title">My Vehicles</h2>
  <ul class="vehicles-list">
    {% for v in vehicles %}
      <li class="vehicle-item">
        <span>{{ v.brand }} {{ v.model }} - {{ v.plate_number }}</span>
        <form method="POST"
          action="{{ url_for('user.delete_vehicle', vehicle_id=v.vehicle_id) }}"
          style="display:inline;"
          onsubmit="return confirm('If you delete this vehicle, all associated appointments will also be deleted. Do you want to continue?');">
          <button type="submit" class="delete-button">❌</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('user.add_vehicle') }}" class="add-vehicle-button">Add New Vehicle</a>
</div>
{% endblock %}
