{% extends 'layout/base_admin.html' %}

{% block content %}

<!--

    <div class="admin-sidebar">
        <h3 class="sidebar-title">Graphs:</h3>

        <a href="{{ url_for('admin.top_maintenance') }}">Most Popular Maintenance Type per Month</a>
        <a href="{{ url_for('admin.city_month_trends') }}">The Months with the Highest Number of Appointments in the City</a>
        <a href="{{ url_for('admin.top_cities') }}">The Cities with the Highest Number of Appointments</a>
        <a href="{{ url_for('admin.busiest_hours') }}">Peak Hours for Dealerships</a>
        <a href="{{ url_for('admin.employee_avg_hours') }}">Average Working Hours for Employee</a>
    </div>
-->

{% endblock %}
