<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}User{% endblock %}</title>
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
          <p>Merhaba, {{ current_user.fname }}!</p>
          <a href="{{ url_for('guest.logout_page') }}">Çıkış Yap</a>
        {% else %}
          <a href="{{ url_for('guest.login_page') }}">Giriş</a>
          <a href="{{ url_for('guest.register_page') }}">Kayıt</a>
        {% endif %}
      </nav>      
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
