<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Guest{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">

        <!-- Hamburger buton (mobilde görünür) -->

        <div class="nav-left">
            <a href="/" class="logo">Mechero</a>
        </div>

        <button class="hamburger" onclick="toggleMenu()">☰</button>

        <div class="nav-right" id="navMenu">
            <a href="/about">About</a> 
            <a href="/dealerships/">Dealership</a>
            <a href="/register">Register</a>
            <a href="/login" class="login-button">Login</a>
        </div>

    </nav>
    <!-- Hamburger menü script -->
    <script>
        function toggleMenu() {
            const menu = document.getElementById("navMenu");
            menu.classList.toggle("show");
        }
    </script>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
