<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Employee{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
                <a href="/" class="logo">Mechero</a>
        </div>
    </nav>




    <nav>
        <a href="/employee/dashboard">Employee Dashboard</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
